// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


body {
  @media only screen and (min-width: 992px) {
    overflow-y: scroll;
  }
}


body > header h1 a {
  background: transparent url(/images/logo-50.png) 0 50% no-repeat;
  padding-left: 60px;

  @media only screen and (min-width: 992px) {
    background: transparent url(/images/logo-80.png) 0 50% no-repeat;
    padding-left: 100px;
  }
}

.subscription {
  padding: 0;
}

a[rel=subscribe-rss] {
  display:block;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 24px;
  padding: 24px 0 0 0;
  height: 0px !important;
  background-image: url("/images/rss-24.png");
  height /**/:24px;

  @media only screen and (min-width: 992px) {
    width: 29px;
    padding: 29px 0 0 0;
    background-image: url("/images/rss-29.png");
    height /**/:29px;
  }
}






